<div class="card" style="width:380px;border-radius:20px;margin-left:auto;margin-right:auto">
  <div class="card-header" style="text-align:center;background-color:#00008b;border-radius:20px 20px 0 0">
    <h2 style="color: white">Sign up</h2>
  </div>
  <div class="card-body" style="text-align:center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <% f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
    </div>

    <div class="field" style="margin-bottom:-10px">
      <% f.label :password %>
      <% if @minimum_password_length %>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"New password" %>
    </div>

    <div class="field">
      <% f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"New password" %>
    </div>

      <br>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-primary" %>
    </div>
<% end %>
  </div>
</div>

<br>

<%= render "devise/shared/links" %>
